{% extends 'shop/base.html' %}
{% block content %}
  <h1>Mes Commandes</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Quantité</th>
          <th>Article</th>
          <th>Prix</th>
          <th>Date Commande</th>
          <th>Livraison</th>
        </tr>
      </thead>
      <tbody>
        {% for commande, items_dict in commandes %}
          {% for item_id, item_info in items_dict.items %}
            <tr>
              <td>{{ commande.id }}</td>
              <td>{{ item_info.0 }}</td> <!-- Quantity -->
              <td>{{ item_info.1 }}</td> <!-- Article -->
              <td>{{ item_info.2 }}</td> <!-- Price -->
              <td>{{ commande.date_commande }}</td>
              <td>{{ commande.get_livraison_display }}</td> <!-- Use get_livraison_display to get the human-readable value of livraison -->
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
